.background {
  background-image: url("../img/last-rocket.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px 0px 180px 5px;
  background-color: black;
}

.container {
  padding: 10px 0px 0px 20px;
  z-index: 10;
}

.container h3 {
  color: white;
  font-weight: 700;
  font-size: 50px;
  width: 600px;
  margin: 0;
}
.container p {
  color: white;
}
.container h6 {
  color: white;
  font-weight: 600;
  font-size: 40px;
  width: 600px;
  margin: 30px 10px;
}

.container button {
  width: 188px;
  height: 60px;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-right: 10px;
  background-color: #0de6be;
  text-transform: uppercase;
  color: black;
  cursor: pointer;
  font-weight: 400;
}

.container button:nth-child(2) {
  background: none;
  border: 2px solid #0de6be;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 100px;
}

.form input {
  width: 350px;
  height: 50px;
  background-color: #18181a;
  border: none;
  box-shadow: 1px 3px 5px #b4b4c677;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
  font-size: 16px;
}

.container button:hover {
  background-color: #0de6be63;
  color: white;
}
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}
@media all and (min-width: 375px) {
  .container h3 {
    width: 350px;
    font-size: 40px;
  }

  .container h6 {
    font-size: 25px;
    width: 300px;
  }
  .form {
    margin-top: 30px;
  }
  .form input {
    width: 300px;
  }
  .form p {
    width: 300px;
  }
}

@media all and (min-width: 650px) {
  .container h3 {
    width: 550px;
    font-size: 40px;
  }

  .background {
    padding: 40px 0px 100px 25px;
  }
}
